*{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}

img{
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

div#rooter{
    position: relative;
}

div.list-view{
    width: 1600px;
    margin: 0 auto;
}

div.list-view ul.tvUl{
    width: 100%;
    margin-top: 20px;
}

div.list-view ul.tvUl li {
    float: left;
    position: relative;
    padding: 10px;
    margin: 6px;
    color: #FFFFFF;
    background-color: #6b6b6b;
    cursor: pointer;
}

div.list-view ul.tvUl li:hover{
    background-color: #ff3724;
    color: #c2d2ff;
}

div.list-view h2{
    text-align: center;
    margin-bottom: 5px;
}

iframe{
    width: 100%;
    height: 800px;
    border: 1px solid #333333;
    outline: none;
}

#rooter ul.tvUl li.focus{
    background-color: #ff3724;
    color: #1f36ff;
}