*{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    vertical-align: top;
}

#rooter{
    width: 100%;
    position: relative;
}

div.searchArea {
    width: 100%;
    height: 57px;
    line-height: 57px;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    z-index: 9999999;
}

div.searchArea input {
    width: 500px;
    height: 57px;
    outline: none;
    line-height: 55px;
    padding-left: 6px;
    border: 1px solid #3385ff;
    font-size: 18px;
    transition: all 1s;
}

div.searchArea input:focus {
    border: 1px solid #3385ff;
}

div.searchArea a.logo img {
    color: #FFF;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s;
}

div.searchArea a.searchButton {
    display: inline-block;
    background-color: #3385ff;
    width: 122px;
    height: 100%;
    position: relative;
    left: -6px;
    text-align: center;
    line-height: 57px;
    color: #FFFFFF;
    transition: all 1s;
    cursor: pointer;
    border: 1px solid #3385ff;
}

div.searchArea a.searchButton:hover {
    font-size: 18px;
    background-color: #1f36ff;
    font-weight: bold;
}

#rooter ul{
    clear: both;
}

#rooter ul li{
    float: left;
    margin: 5px 14px;
    padding: 5px;
    cursor: pointer;
    transition: all 1s;
}

#rooter ul li.focus{
    background-color: #00a1d6;
}

#rooter ul li:hover{
    background-color: #00a1d6;
}

#rooter ul.main{
    padding-top: 59px;
}

#rooter ul.content{
    overflow: hidden;
}

#rooter ul.content li{
    width: 208px;
    height: 200px;
    text-align: center;
    float: left;
    margin: 3px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

#rooter ul.content li a{
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

#rooter ul.content li p:nth-of-type(2){
    font-size: 12px;
}


#rooter div.variety ul.content li a img{
    width: 208px;
    height: 114px;
}

#rooter div.tv ul.content li{
    height: 390px;
    position: relative;
}

#rooter div.tv ul.content li a img{
    width: 208px;
    height: 291px;
}

#rooter div.tv ul.content li p:nth-of-type(1){
    position: absolute;
    bottom: 110px;
    right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}

#rooter div.movie ul.content li{
    height: 390px;
    position: relative;
}

#rooter div.movie ul.content li a img{
    width: 208px;
    height: 291px;
}

#rooter div.movie ul.content li p:nth-of-type(1){
    position: absolute;
    bottom: 110px;
    right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}

#rooter div.child ul.content li{
    height: 390px;
    position: relative;
}

#rooter div.child ul.content li a img{
    width: 208px;
    height: 291px;
}

#rooter div.child ul.content li p:nth-of-type(1){
    position: absolute;
    bottom: 110px;
    right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}

#rooter div.music ul.content li{
    height: 200px;
    position: relative;
}

#rooter div.music ul.content li a img{
    width: 208px;
    height: 116px;
}

#rooter div.music ul.content li p:nth-of-type(1){
    position: absolute;
    bottom: 110px;
    right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}


#rooter div.comic ul.content li{
    height: 390px;
    position: relative;
}

#rooter div.comic ul.content li a img{
    width: 208px;
    height: 291px;
}

#rooter div.comic ul.content li p:nth-of-type(1){
    position: absolute;
    bottom: 110px;
    right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}

#rooter div.documentary ul.content li{
    height: 390px;
    position: relative;
}

#rooter div.documentary ul.content li a img{
    width: 208px;
    height: 291px;
}

#rooter div.documentary ul.content li p:nth-of-type(1){
    position: absolute;
    bottom: 110px;
    right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}

#rooter div.happyLife ul.content li{
    height: 390px;
    position: relative;
}

#rooter div.happyLife ul.content li a img{
    width: 208px;
    height: 291px;
}

#rooter div.happyLife ul.content li p:nth-of-type(1){
    position: absolute;
    bottom: 110px;
    right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}


#rooter div.news ul.content li{
    height: 390px;
    position: relative;
}

#rooter div.news ul.content li a img{
    width: 208px;
    height: 291px;
}

#rooter div.news ul.content li p:nth-of-type(1){
    position: absolute;
    bottom: 110px;
    right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}

#rooter div.enterment ul.content li{
    height: 390px;
    position: relative;
}

#rooter div.enterment ul.content li a img{
    width: 208px;
    height: 291px;
}

#rooter div.enterment ul.content li p:nth-of-type(1){
    position: absolute;
    bottom: 110px;
    right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}


#rooter div.education ul.content li{
    height: 390px;
    position: relative;
}

#rooter div.education ul.content li a img{
    width: 208px;
    height: 291px;
}

#rooter div.education ul.content li p:nth-of-type(1){
    position: absolute;
    bottom: 110px;
    right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}


#rooter div.game ul.content li{
    height: 390px;
    position: relative;
}

#rooter div.game ul.content li a img{
    width: 208px;
    height: 291px;
}

#rooter div.game ul.content li p:nth-of-type(1){
    position: absolute;
    bottom: 110px;
    right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}

#rooter div.sport ul.content li{
    height: 390px;
    position: relative;
}

#rooter div.sport ul.content li a img{
    width: 208px;
    height: 291px;
}

#rooter div.sport ul.content li p:nth-of-type(1){
    position: absolute;
    bottom: 110px;
    right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}

#rooter div.origin ul.content li{
    height: 390px;
    position: relative;
}

#rooter div.origin ul.content li a img{
    width: 208px;
    height: 291px;
}

#rooter div.origin ul.content li p:nth-of-type(1){
    position: absolute;
    bottom: 110px;
    right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}