<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>电视剧: {{.name}}</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="referrer" content="no-referrer"/>
    <meta name="keywords" content="{{.name}}千度,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
    <meta name="description" content="{{.name}}千度,千度一下,你更知道,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
    <link rel="shortcut icon" href="/static/images/logo/index_logo.png" type="image/icon"/>
    <link rel="stylesheet" type="text/css" href="/static/css/tv/tvShow.css"/>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/vue.js"></script>
    <script type="text/javascript" src="/static/js/tv/showTv.js"></script>
</head>

<body>

<div id="rooter">
    <div class="list-view" v-if="tvPlayList.length > 0">
        <h2>{{.name}}</h2>
        <iframe></iframe>
        <ul class="tvUl">
            <li v-for="(item,index) in tvPlayList" :url="item.url" v-html="index + 1">
            </li>
        </ul>
    </div>
    <div v-else style="text-align: center;margin-top: 50px;">
        <img src="/static/images/loading.gif"/>
    </div>
</div>
<a id="url" style="display: none" title="{{.url}}"></a>
<a id="tvName" style="display: none" title="{{.name}}"></a>
</body>
</html>
