<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>爱奇艺专栏</title>
    <meta name="keywords" content="芒果tv,千度,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
    <meta name="description" content="芒果tv,千度,千度一下，你更知`道,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
    <link rel="shortcut icon" href="/static/images/logo/index_logo.png" type="image/icon"/>
    <link rel="stylesheet" type="text/css" href="/static/css/metv/searchPage.css"/>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/vue.js"></script>
    <script type="text/javascript" src="/static/js/vue-lazyload.js"></script>
    <script type="text/javascript" src="/static/js/metv/searchPage.js"></script>
</head>

<body>
    <div id="rooter">
        <div class="searchArea">
            <a target="_blank" class="logo" title="祥龙检索，千度一下"><img src="/static/images/metv/homelogo.png"></a>
            <input type="text" placeholder="请入要查询的内容">
            <a target="_blank" class="searchButton">千度一下</a>
        </div>
        <ul class="content">
            <li v-for="(item,index) in videoList">
                <a target="_blank" :href="item.href">
                    <img v-lazy="item.img">
                </a>
                <br/>
                <span class="jiNumber" v-html="item.updateInfo"></span>
                <p v-html="item.title"></p>
            </li>
        </ul>
    </div>
<input id="keyword" style="display: none;" title="{{.}}"/>
</body>
</html>
